# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Keep example env
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/

# Database
*.sqlite3
*.db

# Docker
docker-compose.override.yml